$coral: #ED534C;
$dark-grey: #404041;
$light-grey: #A6A8AB;

body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

p,
a {
    color: $dark-grey;
}

.container {
    display: block;
    position: relative;
    margin: 0 15rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .logo {
        padding: 2rem 0;

        & a {
            text-decoration: none;
            font-weight: 900;
            font-size: 1.25rem;
        }
    }

    & .main-nav {
        list-style: none;
        margin: 0;
        padding: 0;

        & li {
            display: inline-block;
            padding: 2rem 0;

            &:first-child {
                margin-right: 2rem;
            }

            & a {
                text-decoration: none;
                text-transform: uppercase;

                &.active-link {
                    color: $coral;
                }
            }

        }
    }
}

.hero-banner {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;


    & .brief-bio {
        font-family: 'Playfair Display';
        font-weight: 900;
        font-size: 4rem;
        line-height: 1.25;
    }
}

.project-carousel {
    margin: 0 21rem 0 15rem;
    padding-bottom: 4rem;

    & .project-wrapper {

        & .project-name {
            font-size: 1.15rem;
            font-weight: 900;
        }

        & .project-category {
            color: $light-grey;
        }
    }
}

footer {
    text-align: center;
    font-size: 0.75rem;
}

@media (max-width: 1480px) {
    .container {
        margin: 0 8rem;
    }
}

@media (max-width: 1280px) {
    body {
        font-size: 0.875rem;
    }

    .hero-banner {
        height: 50vh;

        .brief-bio {
            font-size: 3.5rem;
        }
    }
}

@media (max-width: 1085px) {
    .container {
        margin: 0 5rem;
    }

    .hero-banner .brief-bio {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .container {
        margin: 0 3rem;
    }

    .hero-banner .brief-bio {
        font-size: 2.5rem;
    }
}

@media (max-width: 475px) {
    .container {
        margin: 0 1rem;
    }

    .hero-banner {
        height: 50vh;

        & .brief-bio {
            font-size: 2rem;
        }
    }
}
