$coral: #ED534C;
$dark-grey: #404041;
$light-grey: #A6A8AB;

// background colors
$muted-blue-grey: #C5D1DF;
$muted-red: #edd6d6;
$muted-sfu-red: #efd0d4;
$muted-orange: #faded8;
$muted-blue: #d0e4f2;

body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    z-index: -9;
    transition: background-color 0.5s;

    &.blue-grey {
        background-color: $muted-blue-grey;
    }

    &.red {
        background-color: $muted-red;
    }

    &.sfu-red {
        background-color: $muted-sfu-red;
    }

    &.orange {
        background-color: $muted-orange;
    }

    &.blue {
        background-color: $muted-blue;
    }
}

p,
a {
    color: $dark-grey;
}

.container {
    display: block;
    position: relative;
    margin: 0 15rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;

    & .logo {
        padding: 1rem 0;

        & a {
            text-decoration: none;
            font-weight: 900;
            font-size: 1.25rem;
        }
    }

    & .main-nav {
        list-style: none;
        margin: 0;
        padding: 0;

        & li {
            display: inline-block;
            padding: 1rem 0;

            &:first-child {
                margin-right: 2rem;
            }

            & a {
                text-decoration: none;
                text-transform: uppercase;

                &.active-link {
                    color: $coral;
                }
            }

        }
    }
}

.hero-banner {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    & .brief-bio {
        font-family: 'Playfair Display';
        font-weight: 900;
        font-size: 4rem;
        line-height: 1.25;
        margin: 0;
        display: show;

        &.hide {
            display: none;
        }
    }
}

.VIA-photo-popup {
    display: flex;
    position: absolute;
    width: 50%;
    height: inherit;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: width 0.25s, opacity 0.25s;

    & img {
        width: 150%;
        height: auto;
        position: relative;
        top: -1.5rem;
    }

    &.show {
        width: 100%;
        opacity: 1;
    }
}

.toyota-photo-popup {
    display: flex;
    position: absolute;
    width: 50%;
    height: inherit;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    ;
    opacity: 0;
    transition: width 0.25s, opacity 0.25s;

    & img {
        width: 150%;
        height: auto;
        position: relative;
    }

    &.show {
        width: 100%;
        opacity: 1;
        display: flex;
    }
}

.railyard-photo-popup {
    display: flex;
    position: absolute;
    width: 50%;
    height: inherit;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    ;
    opacity: 0;
    background-color: #E45A3D;
    transition: width 0.25s, opacity 0.25s;

    & img {
        width: 20%;
        height: auto;
        position: relative;
    }

    &.show {
        width: 100%;
        opacity: 1;
        display: flex;
    }
}

.intl-coop-photo-popup {
    display: flex;
    position: absolute;
    width: 50%;
    height: inherit;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    ;
    opacity: 0;
    transition: width 0.25s, opacity 0.25s;

    & img {
        width: 100%;
        height: auto;
        position: relative;
    }

    &.show {
        width: 100%;
        opacity: 1;
        display: flex;
    }
}

.sma-photo-popup {
    display: flex;
    position: absolute;
    width: 50%;
    height: inherit;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    ;
    opacity: 0;
    background-color: #4696CC;
    transition: width 0.25s, opacity 0.25s;

    & img {
        width: 20%;
        height: auto;
        position: relative;
    }

    &.show {
        width: 100%;
        opacity: 1;
        display: flex;
    }
}

.project-carousel {
    margin: 0 4rem 4rem 0;

    & .project-wrapper {
        transition: transform 0.25s;

        & a {
            text-decoration: none;
        }

        & p {
            transition: color 0.25s;
        }

        & .project-name {
            font-size: 1.15rem;
            font-weight: 900;
            text-transform: uppercase;
        }

        & .project-category {
            color: $light-grey;
        } //        &:after {
        //            content: "";
        //            display: block;
        //            width: 100%;
        //            height: 0;
        //            background-color: $coral;
        //            transform: rotate(180deg);
        //            transition: height 0.25s;
        //        }
        &:hover {
            transform: translateY(-1rem);

            & p {
                color: $coral;
            }

            &:after {
                height: 0.25rem;
            }
        }
    }
}

footer {
    text-align: center;
    font-size: 0.75rem;

    & p {
        color: $light-grey;
    }
}

// keyframes
@keyframes arrow-bounce-next {
    0% {
        right: -3rem;
    }
    50% {
        right: -4rem;
    }
    100% {
        right: -3rem;
    }
}

@keyframes arrow-bounce-prev {
    0% {
        left: -5rem;
    }
    50% {
        left: -6rem;
    }
    100% {
        left: -5rem;
    }
}

// media queries
@media (max-width: 1480px) {
    .container {
        margin: 0 8rem;
    }
}

@media (max-width: 1280px) {
    body {
        font-size: 0.875rem;
    }

    .hero-banner {
        //        height: 50vh;
        .brief-bio {
            font-size: 3.5rem;
        }
    }
}

@media (max-width: 1085px) {
    .container {
        margin: 0 7rem;
    }

    .hero-banner .brief-bio {
        font-size: 3rem;
    }

    .project-carousel {
        margin: 0 2rem 4rem 0;
    }

    @keyframes arrow-bounce-prev {
        0% {
            left: -4rem;
        }
        50% {
            left: -5rem;
        }
        100% {
            left: -4rem;
        }
    }
}

@media (max-width: 768px) {
    .container {
        margin: 0 2rem;
    }

    .hero-banner .brief-bio {
        font-size: 2.5rem;
    }

    .project-carousel {
        margin: 0 4rem 4rem;
    }

    @keyframes arrow-bounce-next {
        0% {
            right: -0.5rem;
        }
        50% {
            right: -1.5rem;
        }
        100% {
            right: -0.5rem;
        }
    }

    @keyframes arrow-bounce-prev {
        0% {
            left: -0.5rem;
        }
        50% {
            left: -1.5rem;
        }
        100% {
            left: -0.5rem;
        }
    }
}

@media (max-width: 475px) {
    .container {
        margin: 0 1rem;
    }

    .hero-banner {
        height: 50vh;

        & .brief-bio {
            font-size: 2rem;
        }
    }

    .project-carousel {
        margin: 0 3rem 4rem;
    }

    @keyframes arrow-bounce-next {
        0% {
            right: -0.5rem;
        }
        50% {
            right: -1rem;
        }
        100% {
            right: -0.5rem;
        }
    }

    @keyframes arrow-bounce-prev {
        0% {
            left: -0.5rem;
        }
        50% {
            left: -1rem;
        }
        100% {
            left: -0.5rem;
        }
    }
}
