// font colors
$coral: #ED534C;
$dark-grey: #404041;
$light-grey: #A6A8AB;

// background colors
$muted-blue-grey: #C5D1DF;
$muted-red: #edd6d6;
$muted-sfu-red: #efd0d4;
$muted-knack-red: #f5d5d5;
$muted-orange: #faded8;
$muted-blue: #d0e4f2;
$muted-teal: #D8E5E3;

$guusto-teal: #53c2be;
$sma-blue: #4696CC;
$dossier-orange: #E45A3D;
$knack-red: #ed2424;
$rcp-orange: #ffead9;


//fonts
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Lato/Lato-Regular.eot");
    src: url("../fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"),
        url('../fonts/Lato/Lato-Regular.woff2') format('woff2'),
        url("../fonts/Lato/Lato-Regular.woff") format("woff"),
        url("../fonts/Lato/Lato-Regular.ttf") format("truetype"),
        url("../fonts/Lato/Lato-Regular.svg#Lato") format("svg");
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/Lato/Lato-Black.eot");
    src: url("../fonts/Lato/Lato-Black.eot?#iefix") format("embedded-opentype"),
        url('../fonts/Lato/Lato-Black.woff2') format('woff2'),
        url("../fonts/Lato/Lato-Black.woff") format("woff"),
        url("../fonts/Lato/Lato-Black.ttf") format("truetype"),
        url("../fonts/Lato/Lato-Black.svg#Lato") format("svg");
}

@font-face {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Black.eot");
    src: url("../fonts/PlayfairDisplay/PlayfairDisplay-Black.eot?#iefix") format("embedded-opentype"),
        url('../fonts/PlayfairDisplay/PlayfairDisplay-Black.woff2') format('woff2'),
        url("../fonts/PlayfairDisplay/PlayfairDisplay-Black.woff") format("woff"),
        url("../fonts/PlayfairDisplay/PlayfairDisplay-Black.ttf") format("truetype"),
        url("../fonts/PlayfairDisplay/PlayfairDisplay-Black.svg#PlayfairDisplay") format("svg");
}

// mixins
@mixin image-popup($image-size) {
    display: flex;
    position: absolute;
//    width: 50%;
    height: inherit;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: width 0.25s, opacity 0.25s;

    & img {
//        width: $image-size;
        height: auto;
        position: relative;
        width: 0;
        transition: width 0.25s;
    }

    &.show {
        width: 100%;
        opacity: 1;
    }
    
    &.show img {
       width: $image-size; 
    }
}

@mixin mobile-carousel-image($image-size) {
    height: 16.5vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: hidden;
    display: none;

    & img {
        width: $image-size;
        height: auto;
    }
}

// partials
@import '_normalize.scss';
@import '_zoom.scss';

// default styling
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    transition: background-color 0.5s;

    &.blue-grey {
        background-color: $muted-blue-grey;
    }

    &.red {
        background-color: $muted-red;
    }

    &.sfu-red {
        background-color: $muted-sfu-red;
    }
    
    &.knack-red {
        background-color: $muted-knack-red;
    }
    
    &.rcp-orange {
        background-color: $rcp-orange;
    }

    &.orange {
        background-color: $muted-orange;
    }

    &.blue {
        background-color: $muted-blue;
    }
    
    &.teal {
        background-color: $muted-teal;
    }
}

h1,
h2,
h3,
h4,
p,
a {
    color: $dark-grey;
}

ol {
   padding-inline-start: 1rem; 
}

li {
    padding: 0 0 0.5rem 1rem;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 1rem;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    text-align: center;
    line-height: 1;
}

h3 {
    font-size: 1.15rem;
//    text-transform: uppercase;
    line-height: 1.15;
}

h4 {
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 0;
    color: $light-grey;
    letter-spacing: 0.5px;
}

figcaption {
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    font-style: italic;
    margin: -1rem 0 3rem;
    
    .video-wrapper-w-caption & {
        margin: 0 0 3rem;
    }
}

p.quote {
    font-size: 1.5rem;
    text-align: center;
    padding: 6rem 0;
}

span.quote-person {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    color: darkgrey;
    padding-top: 2rem;
}

section {
    margin-bottom: 5rem;
}


// button styling

button {
    color: $coral;
    max-width: 12rem;
}

input {
    margin: 1.5rem 0 0.5rem !important;
    text-align: left;
    padding: 0.25rem 0.25rem;
    width: 100%;
    max-width: 12rem;
}

/* do not group these rules */
*::-webkit-input-placeholder {
    color: lightgrey;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: lightgrey;
    opacity: 1;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: lightgrey;
    opacity: 1;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: lightgrey;
}
*::-ms-input-placeholder {
    /* Microsoft Edge */
    color: lightgrey;
}
*::placeholder {
    /* modern browser */
    color: lightgrey;
}

.buttons {
  text-align: center;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
}

$cyan: #0505A9;
$dark: #FFFFFF;
$borderW: 2px;

.blob-btn {
  $numOfBlobs: 4;
  z-index: 1;
  position: relative;
  padding: 0.5rem 0.875rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 0.75rem;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 0.25rem;
  width: 100%;
  
  &:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: $borderW solid $coral;
    border-radius: 0.25rem;
  }
  
  &:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: $borderW*1.5;
    top: $borderW*1.5;
    width: 100%;
    height: 100%;

    transition: all 0.3s 0.2s;
    border-radius: 0.25rem;
  }
  
  &:hover {
    color: $dark;
    border-radius:30px;
    
    &:after {
      transition: all 0.3s;
      left: 0;
      top: 0;
      border-radius: 0.25rem;
    }
  }
  
  &__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    background:#ffffff;
  }
  
  // additional container created, because in FF blobs are breaking overflow:hidden of element with svg gooey filter
  &__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url('#goo');
  }
  
  &__blob {
    position: absolute;
    top: $borderW;
    width: 100% / $numOfBlobs;
    height: 100%;
    background: $coral;
    border-radius: 100%;
    transform: translate3d(0,150%,0) scale(1.7);
    transition: transform 0.45s;
    
    @supports(filter: url('#goo')) {
      transform: translate3d(0,150%,0) scale(1.4);
    }
    
    @for $i from 1 through $numOfBlobs {
      &:nth-child(#{$i}) {
        left: ($i - 1) * (120% / $numOfBlobs);
        transition-delay: ($i - 1) * 0.08s;
      }
    }
    
    .blob-btn:hover & {
      transform: translateZ(0) scale(1.7);
      
      @supports(filter: url('#goo')) {
        transform: translateZ(0) scale(1.4);
      }
    }
  }
  
}

//button styling


.container {
    position: relative;
    width: 50%;
    margin: 8rem auto;

    #homepage &,
    .nav-wrapper & {
        width: auto;
        margin: 0 15rem;
    }

    &.introduction {
        margin-top: 0;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

.full-width-container {
    position: relative;
    
    & .img-wrapper.full-width {
        margin: -6.5rem 0;
        padding: 0 4rem;
        box-sizing: border-box;
    }
}

//.loader-container {
//    display: flex;
//    position: absolute;
//    width: 100%;
//    height: 100%;
//    top: 0;
//    justify-content: center;
//    align-items: center;
//}
//
//[class*="circle"] {
//    width: 1.5rem;
//    height: 1.5rem;
//    background-color: $light-grey;
//    border-radius: 100%;
//    animation: loader-animation 0.9s 2 ease-in-out both;
//
//    &:first-child {
//        animation-delay: -0.32s;
//    }
//
//    &:nth-child(2) {
//        animation-delay: -0.16s;
//    }
//}
//
//.loader {
//    z-index: 100;
//    display: none;
//
//    &.show {
//        display: flex;
//    }
//}
.nav-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.5rem 0;
    background: rgba(255, 255, 255, 0.85);
    z-index: 9;
    transition: background-color 0.5s;

    &.blue-grey {
        background-color: $muted-blue-grey;
    }

    &.red {
        background-color: $muted-red;
    }

    &.sfu-red {
        background-color: $muted-sfu-red;
    }
    
    &.knack-red {
        background-color: $muted-knack-red;
    }
    
    &.rcp-orange {
        background-color: $rcp-orange;
    }

    &.orange {
        background-color: $muted-orange;
    }

    &.blue {
        background-color: $muted-blue;
    }
    
    &.teal {
        background-color: $muted-teal;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    height: 1.4375rem;
    width: 100%;

    & .logo a {
        text-decoration: none;
        font-weight: 400;
        font-size: 1.5rem;
        font-family: 'Playfair Display', serif;
    }

    & .main-nav {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0.75rem;

        & li {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 1.5rem;
            }

            & a {
                text-decoration: none;
                text-transform: uppercase;

                &:hover,
                &:focus,
                &:active {
                    color: $coral;
                }

                &.active-link {
                    color: $coral;
                }
            }

        }
    }
}

.hamburger-menu-checkbox {
    display: none;
    position: absolute;
    z-index: 9;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0;
    cursor: pointer;

    &:checked {
        & ~ .hamburger-menu span {
            background: white;

            &:first-of-type {
                transform: rotate(45deg) translate(0.375rem, 0.3125rem);
            }

            &:nth-of-type(2) {
                opacity: 0;
            }

            &:last-of-type {
                transform: rotate(-45deg) translate(0.375rem, -0.3125rem);
            }
        }

        & ~ .main-nav {
            visibility: visible;
            animation: mobile-menu-scale 0.25s ease-out;

            & li {
                padding: 1rem 0;
                opacity: 1;
                transition: opacity 1s;

                @for $i from 1 through 3 {
                    &:nth-child(#{$i}) {
                        transition-delay: $i * 0.1s + 0.2s;
                    }
                }
            }
        }
    }
}

.hamburger-menu {
    display: none;
    position: absolute;
    right: 0rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    border: 1px solid transparent;
    background: transparent;
    z-index: 8;

    & span {
        position: relative;
        width: 1.375rem;
        height: 0.1875rem;
        display: block;
        background: $dark-grey;
        transition: transform 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375), opacity 0.2s ease-out;
        transform: none;
        opacity: 1;
        margin: 0.3rem auto;
    }
}

.flex-wrapper {
    display: flex;
    margin: 1.5rem 0;

    &.align-items-center {
        align-items: center;
    }
}

.col-40 {
    flex: 40%;
}

.col-50 {
    flex: 50%;
}

.col-60 {
    flex: 60%;
}

[class*="col"] {
    &:first-of-type {
        padding-right: 2rem;
    }

    &:last-of-type {
        padding-left: 2rem;
    }

    &.img-col:first-of-type {
        padding-right: 1rem;
    }

    &.img-col:last-of-type {
        padding-left: 1rem;
    }
}

.img-wrapper {
    width: 100%;
    margin: 1.5rem 0;
    line-height: 0;
    display: flex;
    justify-content: center;
    position: relative;

    .project-banner & {
        height: 55vh;
        align-items: center;
        overflow: hidden;
        margin: 1rem 0;
    }

    & img {
        width: 100%;
        max-width: fit-content;
        height: 100%;

        .project-banner & {
            max-width: none;
            height: auto;
            
            #via-rail & {
                width: 128%;
            }
            
            #toyota & {
                width: 128%;
            }
        }
        
        &.mobile-mockup-img {
            width: 80%;
            height: auto;
        }
    }
    
    & a {
        cursor: zoom-in;
        cursor: -webkit-zoom-in; 
    }

    .flex-wrapper & {
        margin: 0;
    }
    
    .flex-wrapper .half-img-fig-caption-wrapper & {
        margin-bottom: 1.5rem;
    }
}

.video-wrapper {
    position: relative;
    padding: 56.25% 0 0 0;
    margin: 1.5rem 0;
    overflow: hidden;

    .project-banner & {
        padding: 55vh 0 0 0;
        margin: 1rem 0;
    }

    .flex-wrapper & {
        margin: 0;
    }
}

.multiple-video-container {
    & .video-wrapper-w-caption:not(:first-of-type) {
        margin: 3rem 0 1rem;  
    }
}

//.video-wrapper-w-caption {
//    & span.caption {
//        font-size: 0.875rem;
//        color: $light-grey;
//    } 
//}

iframe,
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .project-banner & {
        height: 55vh;
        background: black;
    }
}

.in-text-link {
    color: $coral;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }
}

.animate-bottom {
    position: relative;
    animation: animatebottom 1s .5s;
}

.page-content {
    opacity: 0;

    &.show {
        opacity: 1;
    }
}

.blur {
    filter: blur(5px);
    transition: filter 1s;
}

.blur.lazyloaded {
    filter: blur(0);
}


.more-projects {
    
//    width: 100% !important;
//    max-width: 65rem;
//    padding: 0 1rem;
    
    & h4 {
        text-align: center;
    }
    
    & .more-project-link-wrapper {
        display: flex;
        margin-top: 2rem;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    & .more-project-link-column {
        display: flex;
        flex-direction: column;
    }
    
    & .more-project-link {
        font-size: 0.8rem;
        font-weight: 900;
        text-transform: uppercase;
        height: 2.5rem;
        text-decoration: none;
        flex: 1 1 50%;

        &:hover {
            color: #ED534C;
        }
        
        &.active-link {
            color: #ED534C;
            cursor: default;
        }
        
        &:nth-of-type(1) {
            order: 1;
        }
        
        &:nth-of-type(2) {
            order: 3;
        }
        
        &:nth-of-type(3) {
            order: 5;
        }
        
        &:nth-of-type(4) {
            order: 7;
        }
        
        &:nth-of-type(5) {
            order: 2;
        }
        
        &:nth-of-type(6) {
            order: 4;
        }
        
        &:nth-of-type(7) {
            order: 6;
        }
        
        &:nth-of-type(8) {
            order: 8;
        }
    }
}

footer {
    text-align: center;
    font-size: 0.75rem;
    margin-top: 4rem;

    & p {
        color: $light-grey;
    }
}


// homepage
#homepage {
    animation: body-overflow 2s;
}

.hero-banner {
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 2rem 0;
    margin-top: 4.4375rem;
    flex-direction: column;

    & .brief-bio {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 6vw;
        line-height: 1;
        margin: 0;
        display: block;

        &.hide {
            display: none;
        }
    }

    & .mobile-brief-bio {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 13.5vw;
        line-height: 1.25;
        display: none;
    }
}

.VIA-image-popup {
    @include image-popup(150%);

    & img {
        top: -1.5rem;
    }
}

.toyota-image-popup {
    @include image-popup(150%);
}

.guusto-product-image-popup {
    @include image-popup(25rem);
    background-color: $guusto-teal;
    
    & img {
        border-radius: 0.5rem;
        box-shadow: 0 0 3rem rgba(0,0,0,.15);
    }
}

.guusto-image-popup {
    @include image-popup(120%);
    
    & img {
        top: 10%;
    }
}

.rcp-image-popup {
    @include image-popup(125%);
}

.railyard-image-popup {
    @include image-popup(15%);
    background-color: $dossier-orange;
}

.knack-image-popup {
    @include image-popup(100%);
//    background-color: $knack-red;
}

.intl-coop-image-popup {
    @include image-popup(100%)
}

.sma-image-popup {
    @include image-popup(15%);
    background-color: $sma-blue;
}

.down-arrow-container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    display: none;

    & .down-arrow {
        font-size: 1.5rem;
        position: relative;
        text-decoration: none;
        z-index: 6;
        animation: arrow-bounce-down ease-in-out 2s infinite both;
    }
}

.VIA-mobile-carousel-image {
    @include mobile-carousel-image(150%);

    & img {
        top: -1.5rem;
    }
}

.toyota-mobile-carousel-image {
    @include mobile-carousel-image(150%);
}

.guusto-product-mobile-carousel-image {
    @include mobile-carousel-image(11rem);
    background-color: $guusto-teal;
    
    & img {
        border-radius: 0.25rem;
        box-shadow: 0 0 1rem rgba(0,0,0,.15);
    }
}

.guusto-mobile-carousel-image {
    @include mobile-carousel-image(100%);
}

.rcp-mobile-carousel-image {
    @include mobile-carousel-image(150%);
}

.railyard-mobile-carousel-image {
    @include mobile-carousel-image(20%);
    background-color: $dossier-orange;
}

.knack-mobile-carousel-image {
    @include mobile-carousel-image(100%);
//    background-color: $knack-red;
}

.intl-coop-mobile-carousel-image {
    @include mobile-carousel-image(100%)
}

.sma-mobile-carousel-image {
    @include mobile-carousel-image(20%);
    background-color: $sma-blue;
}

.project-carousel {
    margin: 0 3rem 0 0;
    padding-bottom: 2.5rem;

    & .project-wrapper {
        transition: transform 0.25s;

        & a {
            text-decoration: none;
        }

        & p {
            transition: color 0.25s;
        }

        & .project-name {
            font-size: 1.15rem;
            font-weight: 900;
            text-transform: uppercase;
            height: 2.5rem;
        }

        & .project-category {
            color: $light-grey;
            font-size: 0.875rem;
        }

        &:hover {
            transform: translateY(-1rem);

            & p {
                color: $coral;
            }
        }
    }
}

span.new {
    color: white;
    background: black;
    font-size: 0.75rem;
    padding: 0 0.25rem;
    margin-left: 0.5rem;
    position: relative;
    top: -0.1rem;
}

span.coming-soon {
    color: white;
    background: black;
    font-size: 0.75rem;
    padding: 0.1rem 0.25rem;
    position: relative;
    top: 0.2rem;
    display: block;
    width: fit-content;
}


// project pages
body:not(#homepage) {
    line-height: 1.5;
}

.project-banner {
    margin-top: 4.4375rem;
}

.project-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem 0 2rem;

    & p {
        font-size: 1.25rem;
        margin: -1rem 0 0 0;
        text-align: center;
    }
}

.mockup-dropshadow-container {
    
    & img {
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    }
    
    & figcaption {
        margin: -0.25rem 0 3rem;
    }
}

.project-summary {
    & p {
        margin: 0;
    }
}

.multi-page-swiper-container {
    position: relative;
}

// VIA
#VIA-business-problem-img,
#VIA-customer-segment-img {
    padding: 5rem 1rem;
}

// Toyota
.toyota-prototype img {
    width: 84%;
}

.toyota-video-wrapper {
    padding: 170% 0 0 0;
}

#speculative-solution section {
    margin-top: 2rem;
}

// RCP
.hep-screenshot {
    height: 35rem;
    
    & img {
       width: auto; 
       border: 1px solid #a3a3a3;
       box-shadow: 0.1875rem 0.1875rem 0.3125rem 0px rgba(0, 0, 0, 0.25);
    }
}

#rcp {
    & .quote-highlight {
        background: $rcp-orange;
    }
    
    & .video-wrapper {
        padding: 62.5% 0 0 0;
        border: 1px solid #a3a3a3;
        box-shadow: 0.1875rem 0.1875rem 0.3125rem 0px rgba(0,0,0,0.25);
    }
}


// Railyard
#railyard {
    & .project-banner .img-wrapper {
        background: $dossier-orange;
        justify-content: center;

        & img {
            width: 10%;
            flex: none;
        }
    }

    & section h4 {
        text-align: center;
    }

    & .video-wrapper {
        padding: 75.42% 0 0 0;
    }

    & .refresh-logo img {
        max-width: 31.25rem;
    }
}

// Knack Academics
#knack {
    & .project-banner .img-wrapper {
        background: $knack-red;

        & img {
//            max-width: 35rem;
//            width: 60%;
            flex: none;
            width: 100%;
        }
    }
    
    & .video-wrapper {
        padding: 62.5% 0 0 0;
    }
    
    & section h4 {
        padding-top: 2rem;
        margin-bottom: -1rem;
        text-align: center;
    }
}

// Intl-Coop
#intl-coop {
    & .project-banner .img-wrapper img {
        width: 116%;
        flex: none;
    }
}

// SMA
#sma {
    & .project-banner .img-wrapper {
        background: $sma-blue;

        & img {
            width: 16%;
            flex: none;
        }
    }
}

// Guusto 

#guusto-website {
    
    & #content-first .multiple-video-container .video-wrapper-w-caption:first-of-type  {
        margin-top: 0;
    }

    & .project-banner .img-wrapper img {
        margin-top: 25rem;
    }

    & .video-wrapper {
        padding: 65.625% 0 0 0;
        -webkit-box-shadow: 0.1875rem 0.1875rem 0.3125rem 0px rgba(0, 0, 0, 0.25);
        box-shadow: 0.1875rem 0.1875rem 0.3125rem 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 0.5rem;
        border-radius: 0.3rem;
    }
    
    & section > .multiple-video-container:not(:first-of-type) {
        & .video-wrapper-w-caption:first-of-type {
            margin: 4rem 0 0;  
        }
    }
    
    & section > .video-wrapper-w-caption {
        margin: 4rem 0 0;  
    }
    
    section {
        [class*="col"]:first-of-type, [class*="col"]:last-of-type {
            padding: 0;
        }
    }
}

#guusto-product {
    & .project-banner .img-wrapper {
        background: $guusto-teal;
        justify-content: center;

        & img {
            max-width: 25rem;
            border-radius: 0.5rem;
            box-shadow: 0 0 3rem rgba(0,0,0,.15);
        }
    }
    
    & .video-wrapper {
        padding: 72.25% 0 0 0;
        margin-bottom: 0.5rem;
    }
}


// About
#about {
    
    & h1 {
        text-align: left;
        margin: -0.75rem 0 2rem;
        font-size: 2.8rem;
    }
    
    & h4 {
        font-size: 2rem;
    }
    
    .container.bio {
        margin-bottom: 4rem;
        width: 90%;
        max-width: 62rem;
    }
    
//    & .page-content > .container:nth-of-type(2) {
//        margin-bottom: 4rem;
//        width: 100%;
//        max-width: 62rem;
//    }
//    
//    & .page-content > .container:nth-of-type(3) {
//        margin-top: 0;
//        
//        & P {
//            font-size: 1.25rem;
//        }
//    }

    & .hello-banner {
        margin: 12rem auto 0;
//        align-items: center;
        
        & p {
            font-size: 1rem;
        }
        
        & [class*="col"]:last-of-type {
//            padding-right: 2rem;
        }
    }
    
    & .additional-facts {
        margin-top: 5rem;
            
        & h1 {
            display: flex;
            justify-content: flex-end;
        }
        
        & p {
            margin-top: 0;
            display: flex;
            font-size: 1.25rem;
            
            & span {
                
                & img {
                    width: 2rem;
                    height: auto;
                    padding-right: 1rem;
                    padding-top: 0.25rem;
                }
            }
        }
    }

    
    & .headshot-desktop {
        display: block;
    }

    & .headshot-mobile {
        display: none;
        height: 80vw;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        
        & img {
            width: 100%;
            height: auto;
        }
    }
}

// keyframes
@keyframes loader-animation {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(0.75);
    }
}

@keyframes animatebottom {
    0% {
        bottom: 16px*-6.25;
        opacity: 0;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes body-overflow {
    0% {
        overflow: hidden;
    }

    100% {
        overflow: hidden;
    }
}


@keyframes arrow-bounce-next {
    0% {
        right: -4rem;
    }

    50% {
        right: -5rem;
    }

    100% {
        right: -4rem;
    }
}

@keyframes arrow-bounce-next-homepage {
    0% {
        right: -3rem;
    }

    50% {
        right: -4rem;
    }

    100% {
        right: -3rem;
    }
}

@keyframes arrow-bounce-prev {
    0% {
        left: -5rem;
    }

    50% {
        left: -6rem;
    }

    100% {
        left: -5rem;
    }
}

@keyframes arrow-bounce-down {
    0% {
        top: 16px;
    }

    50% {
        top: 16px*2.5;
    }

    100% {
        top: 16px;
    }
}

@keyframes mobile-menu-scale {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

// media queries
@media (min-width: 1920px) {
    #homepage .container {
        width: 100rem;
        margin: 0 auto;
    }
}

@media (min-width: 1919px) {
    .hero-banner {
        height: 53vh;
    }
    
    .project-carousel {
        padding-bottom: 0;
    }
}

@media (min-width: 1615px) {
    .hero-banner .brief-bio {
        font-size: 5.5rem;
    }
}

@media (min-width: 1480px) {
    #homepage .container, .nav-wrapper .container {
        margin: 0 auto;
        max-width: 72rem;
    }
}

@media (max-width: 1480px) {
    .container {
        width: 60%;

        #homepage &,
        .nav-wrapper & {
            margin: 0 8rem;
        }
    }
}

@media (max-width: 1280px) {

    //    body {
    //        font-size: 0.9rem;
    //    }
    .container {
        width: 70%;
    }

    .intl-coop-image-popup.show img {
        width: 115%;
    }

    .hero-banner {

        //        height: 50vh;
        .brief-bio {
            font-size: 7.25vw;
        }
    }
    
    .more-projects {
        max-width: 51rem;
    }

    .project-banner .img-wrapper {
        #guusto-website & img {
            margin-top: 7rem;
        }
    }

    @keyframes arrow-bounce-prev {
        0% {
            left: -4rem;
        }

        50% {
            left: -5rem;
        }

        100% {
            left: -4rem;
        }
    }
}

@media (max-width: 1085px) {
    .container {

        #homepage &,
        .nav-wrapper & {
            margin: 0 6rem;
        }
    }

//    .hero-banner .brief-bio {
//        font-size: 3rem;
//    }

    .project-carousel {
        margin: 0 1.5rem 0 0;
    }
}

@media (max-width: 992px) {
    .container {
        width: 80%;

        #homepage &,
        .nav-wrapper & {
            margin: 0 2rem;
        }
    }

    .project-carousel {
        margin: 0 auto;
    }
    
}

@media (max-width: 890px) {

    .intl-coop-image-popup.show img {
        width: 126%;
    }

    .project-banner {
        & .video-wrapper {
            padding: 56.25% 0 0 0;
        }

        & iframe {
            height: 100%;
        }

        & .img-wrapper {
            padding: 56.25% 0 0 0;
            height: auto;

            & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }

            #railyard & img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 25%;
            }
            
            #knack & img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
//                width: 60%;
            }
            
            #intl-coop & {
                background: #333333;

                & img {
                    position: absolute;
                    top: 0;
                    left: unset;
                    bottom: 0;
                    margin: auto;
//                    height: 100%;
//                    width: auto;
                }
            }

            #sma & img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 25%;
            }
            
            #guusto-product & img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 70%;
            }
            
            #guusto-website & img {
                margin-top: 0;
            }
            
            #via-rail & img, #toyota & img {
                position: absolute;
                top: 0;
                bottom: 0;
                left: unset;
                margin: auto;
            }
        }
    }
    
//    .more-projects {
//        
//        width: 80% !important;
//        max-width: unset;
//        padding: 0;
//    
//        & .more-project-link-wrapper {
//            flex-wrap: wrap;
//        }
//
//        & .more-project-link {
//            flex: 1 1 50%;
//        }
//    }
}

@media (max-width: 811px) {

    .intl-coop-image-popup.show img {
        width: 100%;
    }
}

@media (max-width: 768px) {

    body,
    .nav-wrapper {

        &.blue-grey,
        &.red,
        &.sfu-red,
        &.orange,
        &.blue {
            background-color: white;

        }
    }

    .container {
        width: auto;
        margin: 8rem 2rem;
    }

    .navbar {

        & .main-nav {
            display: flex;
            position: fixed;
            top: 0;
            left: 0;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100vw;
            flex-direction: column;
            z-index: 7;
            visibility: hidden;
            background: rgba(237, 83, 76, 0.97);

            & li:first-child,
            & li:nth-child(2) {
                margin-right: 0;
            }

            & li {
                opacity: 0;

                & a {
                    font-size: 3rem;
                    color: white;

                    &:hover,
                    &:focus,
                    &:active {
                        color: white;
                    }

                    &.active-link {
                        color: white;
                    }
                }
            }
        }
    }

    .hamburger-menu-checkbox,
    .hamburger-menu {
        display: block;
    }

    .hero-banner {
        margin: 4.4375rem 0;

        & .brief-bio {
            font-size: 3.5rem;
        }
    }

    .flex-wrapper {
        flex-wrap: wrap;
    }

    [class*="col"] {
        flex: 100%;

        &:first-of-type,
        &:last-of-type,
        &.img-col:last-of-type {
            padding: 0;
        }

        &.img-col:first-of-type {
            padding: 0 0 1.5rem 0;
        }
    }

    .VIA-image-popup,
    .toyota-image-popup,
    .rcp-image-popup,
    .railyard-image-popup,
    .knack-image-popup,
    .intl-coop-image-popup,
    .sma-image-popup, 
    .guusto-image-popup,
    .guusto-product-image-popup{
        &.show {
            display: none;
        }
    }

    [class$="-mobile-carousel-image"] {
        display: flex;
        margin-bottom: 2rem;
    }
    
    .knack-mobile-carousel-image {
        justify-content: flex-end;
        
        & img {
           width: 166%; 
        }
    }

    .project-carousel .project-wrapper {

        & .project-name {
            display: flex;
            align-items: center;
        }

        &:hover,
        &:focus,
        &:active {
            transform: translateY(0);

            & p {
                color: $dark-grey;
            }

            & .project-category {
                color: $light-grey;
            }
        }
    }
    
    .intl-coop-mobile-carousel-image {
        background: #333333;
    }
    
    .guusto-brief .project-name {
        align-items: flex-start !important;
        flex-direction: column;
    }
    
    span.new {
        top: 0;
    }
    
    #about {
        
        & .page-content > .container:nth-of-type(2) {
            margin-bottom: 1.5rem;
            max-width: fit-content;
        }
        
        & .hello-banner {
            flex-direction: column-reverse; 
            
            & p {
                font-size: 1.25rem;
            }
            
            & [class*="col"]:last-of-type {
                padding-right: 0rem;
                padding-bottom: 2rem;
            }
        }
        
        & .additional-facts h1 {
            justify-content: flex-start;
        }
        
        
        & .page-content > .container:nth-of-type(3) P {
            font-size: 1rem;
        }
        
        & .headshot-desktop {
            display: none;
        }
        
        & .headshot-mobile {
            display: flex;
        }
        
    }
}

@media (min-width: 652px) and (max-width: 768px) {
    .intl-coop-mobile-carousel-image img {
        width: 120%;
    }
}

@media (max-width: 652px) {
    .intl-coop-mobile-carousel-image img {
        width: 95%;
    }
}

@media(min-width: 576px) and (max-width: 768px) {
    .hero-banner .brief-bio.hide {
        display: block;
    }
}

@media (max-width: 575px) {

    h1 {
        font-size: 2.25rem;
    }

    .container {
        margin: 5rem 1rem;

        #homepage &,
        .nav-wrapper & {
            margin: 0 1rem;
        }
    }

    .down-arrow-container {
        display: flex;
    }

    .hero-banner {
        //        height: 35vh;
        height: calc(100vh - 4rem - 4.4375*2rem);
        padding: 2rem 0 2rem 0 !important;

        & .brief-bio {
            display: none;
        }

        & .mobile-brief-bio {
            display: block;
        }
    }

    #carousel {
        padding-top: 5rem;
    }

    [class$="-mobile-carousel-image"] {
        height: 40vh;
    }

    .VIA-mobile-carousel-image img {
        width: 170%;
    }

    .toyota-mobile-carousel-image img {
        width: 200%;
    }
    
    .guusto-product-mobile-carousel-image img {
        width: 80%;
        border-radius: 0.5rem;
        box-shadow: 0 0 1rem rgba(0,0,0,.15);
    }
    
    .guusto-mobile-carousel-image img {
        width: 150%;
    }
    
    .rcp-mobile-carousel-image img {
        width: 170%;
    }

    .railyard-mobile-carousel-image img {
        width: 30%;
    }

    .intl-coop-mobile-carousel-image img {
        width: 100%;
    }

    .sma-mobile-carousel-image img {
        width: 30%;
    }

    .project-carousel .project-wrapper .project-name {
        height: fit-content;
    }
    
    .rcp-brief .project-name {
        display: inline !important;
    }
    
    span.new {
        top: -0.1rem;
    }
    
    .more-projects {

        & .more-project-link {
            flex: 1 0 100%;
            
            &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7), &:nth-of-type(8) {
                order: revert;
            }
        }
    }
    
    .img-wrapper img.mobile-mockup-img {
        width: 100%;
        height: auto;
    }
}

@media (max-height: 675px) and (max-width: 992px) and (min-width: 576px) {
    .hero-banner {
        height: 42vh;
    }
}

@media (max-height: 675px) {
    .hero-banner {
        padding: 0 0 2rem 0;
    }
}
