doctype html
html(lang="en")
    // WEBSITE CODED BY SARAH
    // SARAH FUELED BY SNACKS
    head
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-115290530-1')
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-115290530-1');
          
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(charset="utf-8")

        title Sarah Tong – UX Designer – Portfolio
        
        link(rel="stylesheet" href="css/swiper.css")
        link(rel="stylesheet" href="css/main.css")

    body(id="about")
                 
        div(class="page-content animate-bottom")
        
            div(class="nav-wrapper")
                div(class="container")
                    nav(class="navbar")
                        div(class="logo") 
                            a(href="index.html") Sarah Tong 
                        input(class="hamburger-menu-checkbox" type="checkbox")
                        button(class="hamburger-menu")
                            span
                            span
                            span

                        ul(class="main-nav")
                            li
                                a(href="index.html") Projects
                            li
                                a(href="about.html" class="active-link") About
                            li
                                a(target="_blank" href="http://www.sarahtong.ca/resume/Resume-SarahTong.pdf") Resume

            div(class="container hello-banner")
                h1 Hello there.
                
                
            div(class="container")
                div(class="flex-wrapper")
                    div(class="col-40")
                        div(class="img-wrapper")
                            img(src="img/YARDIES-rectangle.jpg" alt="photo of Sarah" class="blur lazyload")
                    div(class="col-60")
                        p I’m a UX Designer with a background in Marketing. Currently, I am closing in on my Interactive Arts + Technology and Business Joint Major Program at Simon Fraser University as well as seeking for Summer 2019 internship openings.

                        p Being in two fields of UX and business, I am driven by doing better for users and business, as well as doing good. Having passion for exploring the nitty gritty of design and research, and transforming these into delightful experiences, I still find my way back to the bigger picture and ask, how am I bringing value to users, how am I bringing improvements for businesses, and how am I making a meaningful impact? It’s the most complex puzzle for myself as a designer, but it’s the most exciting kind to solve.

                        p When I'm not deep in my heels in visual design, user research, and web development, I am doing more manageable jigsaw puzzles with my grandmother, always hunting for snacks, and hinting to people of places I have not yet been. Until then, feel free to reach out to me via  
                            a(class="in-text-link" href="mailto:sarahtong94@gmail.com") Email 
                            | or 
                            a(class="in-text-link" href="https://www.linkedin.com/in/sarahanntong/") Linkedin 
                            | for a chat in Vancouver, BC!
                
            
            div(class="container")
                include footer.pug
                    
        script(src="js/lazysizes.min.js")
        script.
            document.addEventListener('DOMContentLoaded', function () {
            var pageAnimation = setTimeout(showPage, 1000);

            function showPage() {
                document.querySelector(".page-content").classList.add('show');
                }
            });