doctype html
html(lang="en")
    // WEBSITE CODED BY SARAH
    // SARAH FUELED BY SNACKS
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(charset="utf-8")

        title Sarah Tong – UX Designer – Portfolio
        
        link(rel="stylesheet" href="css/swiper.css")
        link(rel="stylesheet" href="css/main.css")

    body(id="about")
                 
        div(class="page-content animate-bottom")
        
            div(class="nav-wrapper")
                div(class="container")
                    nav(class="navbar")
                        div(class="logo") 
                            a(href="index.html") Sarah Tong 
                        input(class="hamburger-menu-checkbox" type="checkbox")
                        button(class="hamburger-menu")
                            span
                            span
                            span

                        ul(class="main-nav")
                            li
                                a(href="index.html") Projects
                            li
                                a(href="about.html" class="active-link") About
                            li
                                a(target="_blank" href="http://www.sarahtong.ca/resume/Resume-SarahTong.pdf") Resume

            div(class="container")
                h1 Hello.
                
                
            div(class="container")
                p I’m a UX Designer with a background in Marketing, currently closing in on my Interactive Arts + Technology and Business Joint Major Program at Simon Fraser University.
                
                p I live for the small moments. It's the quiet aha's and the soft squeals that move people so much more. As delightful as it is for others as it is for myself, I enjoy bringing in tiny discoveries that leave a better impression on the overall product experience itself. That's how I strive to bridge the gap between user and business — an improvement for businesses and a connection made with the user as well.
                
                p When I'm not deep in my heels in graphic design, web development, and user research, I am on the hunt for snacks or hinting at people of places I have not been. Until then, feel free to reach out to me via 
                    a(class="in-text-link" href="mailto:sarahtong94@gmail.com") Email 
                    | or 
                    a(class="in-text-link" href="https://www.linkedin.com/in/sarahanntong/") Linkedin 
                    | for a chat in Vancouver, BC!
                
                
                
                
            
            div(class="container")
                include footer.pug
                    
        script.
            document.addEventListener('DOMContentLoaded', function () {
            var pageAnimation = setTimeout(showPage, 1000);

            function showPage() {
                document.querySelector(".page-content").classList.add('show');
                }
            });