doctype html
html(lang="en")
    // WEBSITE CODED BY SARAH
    // SARAH FUELED BY SNACKS
    head
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-115290530-1')
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-115290530-1');
          
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(charset="utf-8")

        title Sarah Tong – UX Designer – Portfolio
        
        link(rel="shortcut icon" href="favicon.ico")
        link(rel="stylesheet" href="css/swiper.css")
        link(rel="stylesheet" href="css/main.css")

    body(id="about")
                 
        div(class="page-content animate-bottom")
        
            div(class="nav-wrapper")
                div(class="container")
                    nav(class="navbar")
                        div(class="logo") 
                            a(href="index.html") Sarah Tong 
                        input(class="hamburger-menu-checkbox" type="checkbox")
                        button(class="hamburger-menu")
                            span
                            span
                            span

                        ul(class="main-nav")
                            li
                                a(href="index.html") Projects
                            li
                                a(href="about.html" class="active-link") About
                            li
                                a(target="_blank" href="http://www.sarahtong.ca/resume/Resume-SarahTong.pdf") Resume

            div(class="container bio")
                div(class="flex-wrapper hello-banner")
                    div(class="col-40")
                        div(class="img-wrapper headshot-desktop")
                            img(src="img/sarah-nyc-cropped.png" alt="photo of Sarah" class="blur lazyload")
                    div(class="col-60")
                        h1(style="line-height: 1.15;") Hi, I'm Sarah, a UX Designer with a background in Marketing. Currently, I am a Senior Product Design and Web Developer at 
                            a(class="in-text-link" href="https://www.guusto.com/" target="_blank") Guusto.
                        div(class="img-wrapper headshot-mobile")
                            img(src="img/sarah-nyc-cropped.png" alt="photo of Sarah" class="blur lazyload")

                        p Knowing what it’s like to be pulled in all sorts of directions being immersed in both design and business, I seek to create thoughtful experiences that harmonize people, business, and the greater social good. Passionate in exploring visual design, finding discoveries from user research, and transforming these into delightful (sometimes coded) experiences, I still find my way back to the bigger picture and ask, how am I bringing value to users, how am I bringing improvements for businesses, and how am I making a meaningful impact? Solving complex puzzles is what motivates me in the morning!
                    
                div(class="flex-wrapper additional-facts")
                    div(class="col-40")
                        h1 I also
                    div(class="col-60")
                        p 
                            span
                                img(src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/285/puzzle-piece_1f9e9.png" srcset="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/puzzle-piece_1f9e9.png 2x" alt="Puzzle Piece on Apple iOS 14.6")
                            | solve more manageable (jigsaw) puzzles with my grandmother
                        p 
                            span
                                img(src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/285/roller-skate_1f6fc.png" srcset="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/roller-skate_1f6fc.png 2x" alt="Roller Skate on Apple iOS 14.6")
                            | jam on 8 wheels
                        p 
                            span
                                img(src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/285/woman-cook_1f469-200d-1f373.png" srcset="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/woman-cook_1f469-200d-1f373.png 2x" alt="Woman Cook on Apple iOS 14.6")
                            | aspire to be a bakeshop owner
                        p 
                            span
                                img(<img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/285/bread_1f35e.png" srcset="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/bread_1f35e.png 2x" alt="Bread on Apple iOS 14.6")
                            | love bread
                            
                div(style="margin-top: 5rem;")
                    h1(style="text-align: center;") Always welcome a connect over  
                        a(class="in-text-link" href="mailto:sarahtong94@gmail.com") Email
                        |  or 
                        a(class="in-text-link" href="https://www.linkedin.com/in/sarahanntong/") Linkedin
                        | !

                
            div(class="container")
                
            
            div(class="container")
                include footer.pug
                    
        script(src="js/lazysizes.min.js")
        script.
            document.addEventListener('DOMContentLoaded', function () {
            var pageAnimation = setTimeout(showPage, 1000);

            function showPage() {
                document.querySelector(".page-content").classList.add('show');
                }
            });