doctype html
html(lang="en")
    // WEBSITE CODED BY SARAH
    // SARAH FUELED BY SNACKS
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(charset="utf-8")

        title Sarah Tong – UX Designer – Portfolio

        link(rel="stylesheet" href="css/normalize.css")
        link(rel="stylesheet" href="css/main.css")
        
        link(href="https://fonts.googleapis.com/css?family=Lato:400,900|Playfair+Display:900")
        
        link(rel="stylesheet" href="css/swiper.css")
    

    body
        div(class="container")
            nav(class="navbar")
                div(class="logo") 
                    a(href="index.html") ST 
                ul(class="main-nav")
                    li
                        a(href="index.html" class="active-link") Projects
                    li
                        a(href="about.html") About

            div(class="hero-banner")
                p(class="brief-bio") 
                    | Hello there, I’m Sarah.
                    br
                    | I’m a UX designer with an eye for design details and the bigger business picture.
                    
        
                    
        script(src="js/swiper.min.js")