doctype html
html(lang="en")
    // WEBSITE CODED BY SARAH
    // SARAH FUELED BY SNACKS
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(charset="utf-8")

        title Sarah Tong – UX Designer – Portfolio

        link(rel="stylesheet" href="css/normalize.css")
        link(rel="stylesheet" href="css/main.css")
        
        link(href="https://fonts.googleapis.com/css?family=Lato:400,900|Playfair+Display:900")
        
        link(rel="stylesheet" href="css/swiper.css")
    

    body
        div(class="container")
            nav(class="navbar")
                div(class="logo") 
                    a(href="index.html") ST 
                ul(class="main-nav")
                    li
                        a(href="index.html" class="active-link") Projects
                    li
                        a(href="about.html") About

            div(class="hero-banner")
                p(class="brief-bio") 
                    | Hello there, I’m Sarah.
                    br
                    | I’m a UX designer with an eye for design details and the bigger business picture.
                div(class="VIA-photo-popup")
                    img(src="img/VIA/website-static.png" alt="website preview with the words '6 Ways to Feel Canada' ")
                div(class="toyota-photo-popup")
                    img(src="img/Toyota/toyota-camry.jpg" alt="photo of two toyota camrys")
                    
        div(class="swiper-container project-carousel container")
            div(class="swiper-wrapper")
            
                div(class="swiper-slide project-wrapper VIA-brief")
                    a(href="#")
                        p(class="project-name") VIA RAIL
                        p(class="project-description") Website design that presents long-haul train travel as a journey-based experience to improve ridership numbers.
                        P(class="project-category") #InterfaceDesign

                div(class="swiper-slide project-wrapper toyota-brief")
                    p(class="project-name") TOYOTA
                    p(class="project-description") Website design that presents long-haul train travel as a journey-based experience to improve ridership numbers.
                    P(class="project-category") #InterfaceDesign

                div(class="swiper-slide project-wrapper")
                    p(class="project-name") MISSION POSSIBLE
                    p(class="project-description") Website design that presents long-haul train travel as a journey-based experience to improve ridership numbers.
                    P(class="project-category") #Branding

                div(class="swiper-slide project-wrapper")
                    p(class="project-name") VIA RAIL
                    p(class="project-description") Website design that presents long-haul train travel as a journey-based experience to improve ridership numbers.
                    P(class="project-category") #InterfaceDesign
                    
            div(class="swiper-button-prev")
            div(class="swiper-button-next")
            
        div(class="container")
            include footer.pug
                    

        script(src="js/swiper.min.js")
        script(src="js/swiper-initialize.js")
        script(src="js/hero-banner.js")