doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")

    title Sarah Tong – UX Designer – Portfolio

    link(rel="stylesheet" href="css/main.css")
    link(rel="stylesheet" href="css/normalize.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i")
    link(rel="stylesheet" href="css/swiper-index-custom.min.css")

  body
    div(class="grid-wrapper")
      input(class="hamburger-menu-checkbox" type="checkbox")
      div(class="nav-wrapper")
        include top-of-nav.pug
        
        nav(class="main-nav")
          ul
            li 
              a(class="button-nav active" href="index.html") Projects
            li
              a(class="button-nav" href="about.html") About
            li
              a(class="button-nav" target="_blank" href="http://www.sarahtong.ca/resume/Resume-SarahTong.pdf") Resume

        p(class="short-bio")
          | Hello there, I'm Sarah.
          span 
          | A Vancouver-based user experience designer who tackles challenges with design thinking and marketing strategy.

      div(class="main-content-wrapper" id="project-gallery")
        div(class="grid-wrapper swiper-container")
          div(class="swiper-wrapper")
      
            div(class="project-panel-wrapper swiper-slide" class="VIA-panel")
              a(href="via.html")
                img(class="lazyload" data-sizes="auto" data-src="img/VIA/VIA-train.jpg" src="img/VIA/VIA-train.jpg" alt="VIA train project image")
                div(class="blue-img-filter") 
                span(class="overlay")
                div(class="project-detail")
                  div(class="project-label-background")
                  p(class="project-number") 01
                  span(class="line")
                  p(class="project-name") VIA Rail
                  p(class="category") Interface Design
      
            div(class="project-panel-wrapper swiper-slide" class="toyota-panel")
              a(href="toyota.html")
                img(class="lazyload" data-sizes="auto" data-src="img/Toyota/Toyota.jpg" src="img/Toyota/Toyota.jpg" alt="Toyota automated project image")
                div(class="blue-img-filter")
                span(class="overlay")
                div(class="project-detail")
                  div(class="project-label-background")
                  p(class="project-number") 02
                  span(class="line")
                  p(class="project-name") Toyota
                  p(class="category") Interface Design
      
            div(class="project-panel-wrapper swiper-slide" class="intl-coop-panel")
              a(href="international-coop.html")
                img(class="lazyload" data-sizes="auto" data-src="img/Intl-Coop/Intl-Coop-project-banner.jpeg" src="img/Intl-Coop/Intl-Coop-project-banner.jpeg" alt="International Co-op project image - person looking deeply out on top of a mountain")
                div(class="blue-img-filter")
                span(class="overlay")
                div(class="project-detail")
                  div(class="project-label-background")
                  p(class="project-number") 03
                  span(class="line")
                  p(class="project-name") International Co-op
                  p(class="category") Marketing
      
            div(class="project-panel-wrapper swiper-slide" class="SMA-panel")
              a(href="student-marketing-association.html")
                div(class="background-colored-panel")
                img(src="img/SMA/SMA-Logo.svg" alt="SMA logo")
                div(class="blue-img-filter")
                span(class="overlay")
                div(class="project-detail")
                  div(class="project-label-background")
                  p(class="project-number") 04
                  span(class="line")
                  p(class="project-name") Student Marketing Association
                  p(class="category") Marketing
      
          div(class="swiper-button-prev") &#8592;
          div(class="swiper-button-next") &#8594;
    
        noscript
          div(class="grid-wrapper javascript-disabled")
        
            div(class="project-panel-wrapper" class="VIA-panel")
              a(href="via.html")
                img(src="img/VIA/VIA-train.jpg" alt="VIA train project image")
                div(class="blue-img-filter") 
                span(class="overlay")
                div(class="project-detail")
                  div(class="project-label-background")
                  p(class="project-number") 01
                  span(class="line")
                  p(class="project-name") VIA Rail
                  p(class="category") Interface Design
        
            div(class="project-panel-wrapper" class="toyota-panel")
              a(href="toyota.html")
                img(src="img/Toyota/Toyota.jpg" alt="Toyota automated project image")
                div(class="blue-img-filter")
                span(class="overlay")
                div(class="project-detail")
                  div(class="project-label-background")
                  p(class="project-number") 02
                  span(class="line")
                  p(class="project-name") Toyota
                  p(class="category") Interface Design
        
            div(class="project-panel-wrapper" class="intl-coop-panel")
              a(href="international-coop.html")
                img(src="img/Intl-Coop/Intl-Coop-project-banner.jpeg" alt="International Co-op project image - person looking deeply out on top of a mountain")
                div(class="blue-img-filter")
                span(class="overlay")
                div(class="project-detail")
                  div(class="project-label-background")
                  p(class="project-number") 03
                  span(class="line")
                  p(class="project-name") International Co-op
                  p(class="category") Marketing
        
            div(class="project-panel-wrapper" class="SMA-panel")
              a(href="student-marketing-association.html")
                div(class="background-colored-panel")
                img(src="img/SMA/SMA-Logo.svg" alt="SMA logo")
                div(class="blue-img-filter")
                span(class="overlay")
                div(class="project-detail")
                  div(class="project-label-background")
                  p(class="project-number") 04
                  span(class="line")
                  p(class="project-name") Student Marketing Association
                  p(class="category") Marketing

    script(src="js/hamburger.js")
    script(src="js/jquery-3.3.1.min.js")
    script(src="js/lazysizes.min.js")
    script(src="js/swiper.min.js")
    script(src="js/swiper-initialize.js")
