div(class="nav-wrapper")
    div(class="container")
        nav(class="navbar")
            div(class="logo") 
                a(href="index.html") ST 
            input(class="hamburger-menu-checkbox" type="checkbox")
            button(class="hamburger-menu")
                span
                span
                span

            ul(class="main-nav")
                li
                    a(href="index.html") Projects
                li
                    a(href="about.html") About