doctype html
html(lang="en")
    // WEBSITE CODED BY SARAH
    // SARAH FUELED BY SNACKS
    head
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-115290530-1')
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-115290530-1');
        
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(charset="utf-8")

        title Sarah Tong – VIA Rail
        
        link(rel="shortcut icon" href="favicon.ico")
        link(rel="stylesheet" href="css/main.css")

    body(id="via-rail")
                    
        div(class="page-content animate-bottom")
        
            include nav-inactive.pug

            div(class="full-width-container")
                //div(class="project-banner")
                    div(class="video-wrapper")
                        iframe(src="https://player.vimeo.com/video/242132143?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
                        
                div(class="project-banner")
                    div(class="img-wrapper")
                        img(src="img/VIA/website-static.png" alt="website preview with the words '6 Ways to Feel Canada'")
                        
            div(class="container introduction")
                div(class="project-header")
                    h1 VIA Rail
                    p Website Design
                div(class="flex-wrapper")
                    div(class="col-60")
                        p VIA Journey is a website redesign that invites tourists to consider VIA Rail as a desirable option for tourism within Canada among other common alternatives. Our goal with VIA Journey was to better entice travellers to discover the value of VIA Rail’s unique journey-based experience, as well as to help VIA Rail re-establish their market positioning and competitive edge in the tourism industry.
                        p My role in this project was mainly focused on market and industry research and analysis, ideation on the project’s form and features, interaction studies, as well as content strategy and writing for our weekly presentation slides and scripts, and video. I also held smaller roles in graphic, UI, and interaction design in the initial weeks of research and ideation.
                    div(class="col-40 project-summary")
                        h4 Team
                        p Joshua Fan, Michelle Ng, Gabriel Yeung, Grant Zou
                        h4 Type
                        p Academic
                        h4 Role
                        p UX, Market research, Ideation, Interaction studies, Content writing and strategy
                        h4 Tools
                        p Illustrator, Photoshop, After Effects, Premiere Pro, Keynote
                        h4 Duration
                        p 4 weeks
                        h4 Deliverables
                        a(class="in-text-link" target="_blank" href="http://www.sarahtong.ca/presentations/VIA-Rail-presentation.pdf") Slides
                      
            div(class="container")
                h2 Process
                
                section
                    h3 Business Problem
                    div(class="img-wrapper" id="VIA-business-problem-img")
                        img(src="img/VIA/business-problem.png" data-src="img/VIA/business-problem.png" data-action="zoom" alt="slide deck image of business problem that includes competitor analysis" class="blur lazyload")
                    p With the recent surge in demand for Canadian tourism travel, air and rail services are performing well. However, VIA Rail is struggling to fill half of their seats, notably attaining an average passenger load factor of only 54% in 2016 (Annual Report 2016). As well, despite providing Canada’s only coast-to-coast rail service, tourists are still choosing to spend their money on other means of tourism travel resulting in VIA Rail seeing stagnating ridership numbers since 2014. Our challenge is to increase the number of riders on VIA Rail as well as influence potential customers to consider VIA Rail as a desirable travel alternative.
                
                section
                    h3 The Brand
                    div(class="img-wrapper")
                        img(src="img/VIA/brand-analysis.jpg" data-src="img/VIA/brand-analysis.jpg" data-action="zoom" alt="slide deck image of VIA Rail's brand analysis" class="blur lazyload")
                    p Using the Brand Value Pillars Framework from Patrick Newbery and Kevin Farnham’s Experience Design book, we identified VIA Rail’s brand concept and the value pillar that not only best supports the brand concept, but we, as designers, can help reinforce. Among the brand pillars, we believed Trust and Innovation were outside our control. Therefore, we performed a deep dive into Personal, which is defined by VIA Rail as Personalized and Connected. Working with Connected, I helped pinpoint the products and services that are tied to it and determine the tangible, intangible, and aspirational values delivered. From this analysis and other research, we learned that, compared to other means of tourism travel, VIA Rail offers a unique experience to discover Canada for a justifiable cost, reinforcing that VIA Rail is a new and smarter way to travel across Canada. So, if a unique value proposition exists, why are potential passengers not connecting with VIA Rail’s service?
                    
                section
                    h3 Market Positioning
                    div(class="img-wrapper")
                        img(src="img/VIA/market-position.jpg" data-src="img/VIA/market-position.jpg" data-action="zoom" alt="slide deck image of VIA Rail's market positioning" class="blur lazyload")
                    p The Market Matrix gave us a better understanding of the business problem. I assessed VIA Rail’s market positioning based on two attributes: distance covered and living space provided. Living space includes having the freedom to move, comfortable accommodations, meal service, and a range of on-board activities. While VIA Rail positions themselves as providers of long-haul and good living space, common consumer perception places VIA Rail against short-haul, decreased living space services such as airlines. But, relative to airplanes and not revealed in this Market Matrix, VIA Rail costs more and takes more time to get anywhere. With this perception misalignment, VIA Rail is challenged to overcome it.

                section
                    h3 The Opportunity
                    p With Connectivity, which we found is further reinforced in VIA Rail’s future strategic vision for the brand called Destination 2025, as well as the insights from our brand and market positioning analysis, we saw an opportunity to pursue this brand pillar to drive our project and increase the perceived value relative to other forms of tourism transportation. We wanted to highlight VIA Rail’s best assets that gives them the ability to offer a journey that is as valuable as the destination itself. To do so, we aimed to better connect potential customers with unique narratives across Canada.
            
                section
                    h3 Customer Segment
                    div(class="img-wrapper" id="VIA-customer-segment-img" data-action="zoom")
                        img(src="img/VIA/customer-segment.png" data-src="img/VIA/customer-segment.png" data-action="zoom" alt="slide deck image of VIA Rail's three customer segments" class="blur lazyload")
                    p Looking from a customer’s perspective, our team first identified three customer segments. We chose to focus our efforts toward first-time customers as they are likely to hold preconceived notions about long-haul rail travel and therefore are less likely to see the value proposition that VIA Rail offers.
            
                section
                    h3 Persona
                    div(class="img-wrapper")
                        img(src="img/VIA/persona.png" data-src="img/VIA/persona.png" data-action="zoom" alt="slide deck image of the persona" class="blur lazyload")
                    p Based on anecdotal reviews of VIA Rail, I created a persona to help guide the team in understanding the kind of traveler we are designing for, as well as where in the customer journey framework VIA Rail is finding it most challenging in shifting perception of rail travel.  

                section
                    h3 The Customer Journey
                    div(class="img-wrapper")
                        img(src="img/VIA/customer-journey.png" data-src="img/VIA/customer-journey.png" data-action="zoom" alt="slide deck image of the customer journey" class="blur lazyload")
                    p We developed a customer journey framework which was borrowed from Engine Digital’s model. From identifying the stages in the journey framework and the frictions within, we learned the gap between the VIA Rail’s intended value proposition and the customer’s perceived value proposition is greatest within the entice stage.
          
                section
                    h3 The Customer Map
                    div(class="img-wrapper")
                        img(src="img/VIA/customer-map.png" data-src="img/VIA/customer-map.png" data-action="zoom" alt="slide deck image of entice stage within customer journey" class="blur lazyload")
                    p Choosing to intervene at the entice stage, we broke this stage down further and realize a close association with Maslow’s Hierarchy of Needs. We understood that when basic needs are met, people are motivated to achieve higher level goals. Our strategy was to therefore organize the value proposition in our digital solution so to present tangible, intangible, and aspirational values in this order as they progress through the entice phase. Upon exploring VIA Rail’s website, we saw a key opportunity in enticing customers.

                section
                    h3 Frictions
                    div(class="img-wrapper")
                        img(src="img/VIA/frictions.png" data-src="img/VIA/frictions.png" data-action="zoom" alt="slide deck image of three frictions" class="blur lazyload")
                    p Consumers aren’t realizing VIA Rail’s value proposition due to the current website’s presentation of information: it is difficult to find, digest, and navigate. 
                    p We found that the value proposition is better communicated on downloadable PDFs. However, these PDFs contain dense, but useful information that the website does not. Should website visitors not open these PDFs, they would never see the complete value proposition that VIA Rail offers. Should they open these PDFs, the information presented is very dense, diverting people away from accessing this information. Furthermore, it is difficult to distinguish between their long and short-haul services, making it difficult to navigate and see VIA Rail’s differentiator as a provider of long-haul tourism. These friction points create cognitive overhead for consumers, causing VIA Rail to be quickly judged as a pricier and slower provider of transportation.

                section
                    h3 Proposal
                    div(class="img-wrapper")
                        img(src="img/VIA/proposal.png" data-src="img/VIA/proposal.png" data-action="zoom" alt="slide deck image of proposed solution hoping to close the value gap" class="blur lazyload")
                    p To close the gap between the intended and perceived value proposition, our digital solution, VIA Journey, seeks to highlight the tangible, intangible, and aspirational values being promised and connect potential passengers with a journey that is as valuable as the destination, such that VIA Rail will be considered a desirable option for tourism.


            div(class="container")
                h2 Proposed Solution
            
                div(class="img-wrapper")
                  img(src="img/VIA/website-prototype.png" data-src="img/VIA/website-prototype.png" data-action="zoom" alt="homepage of proposed website redesign" class="blur lazyload")
            
                section
                  h3 Why Website?
                  p We selected a website as the best medium for our intervention as it offers the greatest accessibility to information at any time, compared to other touchpoints we have considered within the entice stage, such as a travel agent or at the station.

                section
                  h3 Design Decisions
                  p During our design sprints, we explored how might we demonstrate the idea of the journey being as valuable as the destination. We experimented with transformational metaphor of “seeing through a window” for our designs. This manifests in our website’s figurative windows, using full-width media panels to captivate audiences with words alone cannot express. 
                  p I also studied precedents for possible interactions. Inspired by 
                    a(class="in-text-link" href="https://www.nationalgeographic.com/magazine/2016/05/yellowstone-national-parks-bears-video/") National Geographic
                    |, we mapped the physical interaction of scrolling to digital navigation. This matched our intent of a guided journey, allowing consumers to peruse content at their own pace, frame-by-frame, appealing to each level of value. This reflects the journey experience in how sights unfold along the way as you progress.

                section
                  h3 The Prototype
                  
                  section
                      div(class="video-wrapper")
                            iframe(src="https://player.vimeo.com/video/242132143?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

                  section
                    h4 Landing Page
                    div(class="video-wrapper")
                      iframe(data-src="https://player.vimeo.com/video/256249253?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="blur lazyload")
                    p Consumers enter our website through the navigation on VIA Rail’s main website. Then, an optional video of the onboard experience would lead to an overview of the 6 routes VIA Rail offers, presenting an immediate value proposition. 
                    p We give an option to skip video at the beginning, considering that the revisiting users may want to land straight on the website. We present the 6 routes offers by listing them as side navigation, so users can clearly pick their options. Once they choose their routes, user can look into details by clicking the explore button.

                  section
                    h4 Journey Page
                    div(class="video-wrapper")
                      iframe(data-src="https://player.vimeo.com/video/256249096?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="blur lazyload")
                    p Moving into a specific route from the homepage, consumers are presented with specific scenes from that journey. Each scene is revealed through the customer’s every scroll, breaking down the physical journey into a series of digital interactions. Combined with animations, VIA Journey creates layers of information, reducing cognitive overhead and affording customers the ability to understand the journey at their own pace. 
                    p The intended effect this has on VIA Rail’s perceived value is that the presented landscapes and cities become a 
                        b tangible 
                        | value; a promise of what customers will receive, with stories and images to reinforce that journey is the key value of the trip.

                  section
                    h4 Social Media
                    div(class="video-wrapper")
                      iframe(data-src="https://player.vimeo.com/video/256249085?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="blur lazyload")
                    p For each stop along the journey, consumers may notice a subtle pull-out indicator on the right side of the page. Selecting this triggers a playful animation, sliding out a curated series of Instagram photos posted at that stop. 
                    p These posts provide credibility to VIA Rail; showing that other passengers have bought into VIA Rail’s journey-based experience. Using geo-hashtags to chunk this content further reduces cognitive effort, and highlights the 
                        b intangible 
                        | value promised, to show potential passengers what they might do on this journey.

                  section
                    h4 Class Offering
                    div(class="video-wrapper")
                      iframe(data-src="https://player.vimeo.com/video/256249114?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="blur lazyload")
                    p Scrolling down, the site front-loads our three class options. Hovering over each reveals an immediate tangible value, and clicking explore triggers more information to fill the frame, consistent with the thematic use of the long scroll. 
                    p We recognize that we can’t design one set of higher values to appeal to all customers, and we leveraged their price points and distinct classes to better target different types of customers. Instead of trying to appeal to the cost-conscious consumer with the premium offerings, we guide customers down their corresponding classes, tailoring the activities and accommodations that best fulfills their 
                        b intangible 
                        | and 
                        b aspirational 
                        | needs.

                  section
                    h4 Summary
                    div(class="video-wrapper")
                      iframe(data-src="https://player.vimeo.com/video/256249138?title=0&byline=0&portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="blur lazyload")
                    p Finally, after exploring the breadth of information available for the selected route, we wanted to propose the next steps: options for the consumer to book a journey or explore other routes. The intention of this is to provide both a hard and soft commitment; consumers can choose to make the purchasing decision, or continue exploring.

            div(class="container")
                h2 Reflection

                p What I found to be the most delightful takeaway for myself was being design-driven through using metaphors. When our team came up with the concept of “the journey being as valuable as the destination”, it changed my view of what a project is: the project is not just a means to create value and fulfill needs, it can have a joyful and memorable character. The uniqueness of the project kept my enthusiasm high and motivated me to find ways to drive the concept home, which I believe came across in the final product. Even well after working on this project, the window metaphor and the micro-interactions used to demonstrate this concept excites me and hopefully would excite website visitors as well. I seek to bring this design-driven approach in future projects. 
                p What I would improve on this project is communicating the experience within the train, as being in the train is very much part of the journey. Our team provided interior images and brief descriptions of what is offered onboard but it is not enough to reveal the romance of old-fashion train travel: the immersive feeling of being surrounded by country and mountainside, the train’s rhythmic rumbling in the background, and unique to VIA Rail, the live music to accompany it all. Incorporating this into our final product would give trains a desirable appeal that no other form of transportation can provide.
                    
            
            div(class="container more-projects")
                h4 More Projects
                div(class="more-project-link-wrapper")
                    a(class="more-project-link" href="guusto-website.html") Guusto
                    a(class="more-project-link active-link") VIA Rail
                    a(class="more-project-link" href="toyota.html") Toyota
                    a(class="more-project-link" href="royal-city-physio.html") Royal City Physio
                    a(class="more-project-link" href="railyard.html") Railyard
                    a(class="more-project-link" href="knack.html") Knack Academics
                    a(class="more-project-link" href="international-coop.html") International Co-op
            
            div(class="container")
                include footer.pug
        
        script(src="js/lazysizes.min.js")
        script.
            document.addEventListener('DOMContentLoaded', function () {
            var pageAnimation = setTimeout(showPage, 1000);

            function showPage() {
                document.querySelector(".page-content").classList.add('show');
                }
            });
        script(src="js/jquery-3.3.1.min.js")
        script(src="js/transition.min.js")
        script(src="js/zoom.min.js")