doctype html
html(lang="en")
    // WEBSITE CODED BY SARAH
    // SARAH FUELED BY SNACKS
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(charset="utf-8")

        title Sarah Tong – UX Designer – Portfolio
        
        link(rel="stylesheet" href="css/swiper.css")
        
        link(rel="stylesheet" href="css/normalize.css")
        link(rel="stylesheet" href="css/main.css")
        
        link(href="https://fonts.googleapis.com/css?family=Lato:400,900|Playfair+Display:900")

    body
        
        div(class="loader-container")
            span(class="loader")
                    
        div(class="page-content animate-bottom")
        
            div(class="nav-wrapper")
                div(class="container")
                    nav(class="navbar")
                        div(class="logo") 
                            a(href="index.html") ST 
                        input(class="hamburger-menu-checkbox" type="checkbox")
                        button(class="hamburger-menu")
                            span
                            span
                            span    

                        ul(class="main-nav")
                            li
                                a(href="index.html" class="active-link") Projects
                            li
                                a(href="about.html") About

            div(class="container")
            
            div(class="container")
                include footer.pug
                    
        script(src="js/page-loader.js")
        script(src="js/swiper.min.js")
        script(src="js/swiper-initialize.js")