body {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  z-index: -9;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s; }
  body.blue-grey {
    background-color: #C5D1DF; }
  body.red {
    background-color: #edd6d6; }
  body.sfu-red {
    background-color: #efd0d4; }
  body.orange {
    background-color: #faded8; }
  body.blue {
    background-color: #d0e4f2; }

p,
a {
  color: #404041; }

.container {
  display: block;
  position: relative;
  margin: 0 15rem; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 0.5rem; }
  .navbar .logo {
    padding: 1rem 0; }
    .navbar .logo a {
      text-decoration: none;
      font-weight: 900;
      font-size: 1.25rem; }
  .navbar .main-nav {
    list-style: none;
    margin: 0;
    padding: 0; }
    .navbar .main-nav li {
      display: inline-block;
      padding: 1rem 0; }
      .navbar .main-nav li:first-child {
        margin-right: 2rem; }
      .navbar .main-nav li a {
        text-decoration: none;
        text-transform: uppercase; }
        .navbar .main-nav li a.active-link {
          color: #ED534C; }

.hero-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2rem 0; }
  .hero-banner .brief-bio {
    font-family: 'Playfair Display';
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.25;
    margin: 0;
    display: show; }
    .hero-banner .brief-bio.hide {
      display: none; }

.VIA-photo-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 50%;
  height: inherit;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  -webkit-transition: width 0.25s, opacity 0.25s;
  -o-transition: width 0.25s, opacity 0.25s;
  transition: width 0.25s, opacity 0.25s; }
  .VIA-photo-popup img {
    width: 150%;
    height: auto;
    position: relative;
    top: -1.5rem; }
  .VIA-photo-popup.show {
    width: 100%;
    opacity: 1; }

.toyota-photo-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 50%;
  height: inherit;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  -webkit-transition: width 0.25s, opacity 0.25s;
  -o-transition: width 0.25s, opacity 0.25s;
  transition: width 0.25s, opacity 0.25s; }
  .toyota-photo-popup img {
    width: 150%;
    height: auto;
    position: relative; }
  .toyota-photo-popup.show {
    width: 100%;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.railyard-photo-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 50%;
  height: inherit;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  background-color: #E45A3D;
  -webkit-transition: width 0.25s, opacity 0.25s;
  -o-transition: width 0.25s, opacity 0.25s;
  transition: width 0.25s, opacity 0.25s; }
  .railyard-photo-popup img {
    width: 20%;
    height: auto;
    position: relative; }
  .railyard-photo-popup.show {
    width: 100%;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.intl-coop-photo-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 50%;
  height: inherit;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  -webkit-transition: width 0.25s, opacity 0.25s;
  -o-transition: width 0.25s, opacity 0.25s;
  transition: width 0.25s, opacity 0.25s; }
  .intl-coop-photo-popup img {
    width: 100%;
    height: auto;
    position: relative; }
  .intl-coop-photo-popup.show {
    width: 100%;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.sma-photo-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 50%;
  height: inherit;
  overflow: hidden;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  background-color: #4696CC;
  -webkit-transition: width 0.25s, opacity 0.25s;
  -o-transition: width 0.25s, opacity 0.25s;
  transition: width 0.25s, opacity 0.25s; }
  .sma-photo-popup img {
    width: 20%;
    height: auto;
    position: relative; }
  .sma-photo-popup.show {
    width: 100%;
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.project-carousel {
  margin: 0 4rem 4rem 0; }
  .project-carousel .project-wrapper {
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    -o-transition: transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s; }
    .project-carousel .project-wrapper a {
      text-decoration: none; }
    .project-carousel .project-wrapper p {
      -webkit-transition: color 0.25s;
      -o-transition: color 0.25s;
      transition: color 0.25s; }
    .project-carousel .project-wrapper .project-name {
      font-size: 1.15rem;
      font-weight: 900;
      text-transform: uppercase; }
    .project-carousel .project-wrapper .project-category {
      color: #A6A8AB; }
    .project-carousel .project-wrapper:hover {
      -webkit-transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
      transform: translateY(-1rem); }
      .project-carousel .project-wrapper:hover p {
        color: #ED534C; }
      .project-carousel .project-wrapper:hover:after {
        height: 0.25rem; }

footer {
  text-align: center;
  font-size: 0.75rem; }
  footer p {
    color: #A6A8AB; }

@-webkit-keyframes arrow-bounce-next {
  0% {
    right: -3rem; }
  50% {
    right: -4rem; }
  100% {
    right: -3rem; } }

@keyframes arrow-bounce-next {
  0% {
    right: -3rem; }
  50% {
    right: -4rem; }
  100% {
    right: -3rem; } }

@-webkit-keyframes arrow-bounce-prev {
  0% {
    left: -5rem; }
  50% {
    left: -6rem; }
  100% {
    left: -5rem; } }

@keyframes arrow-bounce-prev {
  0% {
    left: -5rem; }
  50% {
    left: -6rem; }
  100% {
    left: -5rem; } }

@media (max-width: 1480px) {
  .container {
    margin: 0 8rem; } }

@media (max-width: 1280px) {
  body {
    font-size: 0.875rem; }
  .hero-banner .brief-bio {
    font-size: 3.5rem; } }

@media (max-width: 1085px) {
  .container {
    margin: 0 7rem; }
  .hero-banner .brief-bio {
    font-size: 3rem; }
  .project-carousel {
    margin: 0 2rem 4rem 0; }
  @-webkit-keyframes arrow-bounce-prev {
    0% {
      left: -4rem; }
    50% {
      left: -5rem; }
    100% {
      left: -4rem; } }
  @keyframes arrow-bounce-prev {
    0% {
      left: -4rem; }
    50% {
      left: -5rem; }
    100% {
      left: -4rem; } } }

@media (max-width: 768px) {
  .container {
    margin: 0 2rem; }
  .hero-banner .brief-bio {
    font-size: 2.5rem; }
  .project-carousel {
    margin: 0 4rem 4rem; }
  @-webkit-keyframes arrow-bounce-next {
    0% {
      right: -0.5rem; }
    50% {
      right: -1.5rem; }
    100% {
      right: -0.5rem; } }
  @keyframes arrow-bounce-next {
    0% {
      right: -0.5rem; }
    50% {
      right: -1.5rem; }
    100% {
      right: -0.5rem; } }
  @-webkit-keyframes arrow-bounce-prev {
    0% {
      left: -0.5rem; }
    50% {
      left: -1.5rem; }
    100% {
      left: -0.5rem; } }
  @keyframes arrow-bounce-prev {
    0% {
      left: -0.5rem; }
    50% {
      left: -1.5rem; }
    100% {
      left: -0.5rem; } } }

@media (max-width: 475px) {
  .container {
    margin: 0 1rem; }
  .hero-banner {
    height: 50vh; }
    .hero-banner .brief-bio {
      font-size: 2rem; }
  .project-carousel {
    margin: 0 3rem 4rem; }
  @-webkit-keyframes arrow-bounce-next {
    0% {
      right: -0.5rem; }
    50% {
      right: -1rem; }
    100% {
      right: -0.5rem; } }
  @keyframes arrow-bounce-next {
    0% {
      right: -0.5rem; }
    50% {
      right: -1rem; }
    100% {
      right: -0.5rem; } }
  @-webkit-keyframes arrow-bounce-prev {
    0% {
      left: -0.5rem; }
    50% {
      left: -1rem; }
    100% {
      left: -0.5rem; } }
  @keyframes arrow-bounce-prev {
    0% {
      left: -0.5rem; }
    50% {
      left: -1rem; }
    100% {
      left: -0.5rem; } } }

@media (hover: none) {
  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled {
    -webkit-animation: none;
    animation: none; } }
